.contact {
    background-color: #171717;
    padding: 130px 0 50px;
  
    .form {
      padding: 30px;
      border: 1px solid #9945FF;
      max-width: 500px;
      margin: auto;
      margin-top: 80px;
      border-radius: 5px;
      text-align: center;
  
      &-title {
        font-size: 27px;
        font-weight: 600;
      }
  
      &-intigator {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        position: relative;
  
        &::after {
          content: '';
          width: 70%;
          height: 3px;
          position: absolute;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
        }
  
        span {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: #fff;
          background-color: #9945FF;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          opacity: 0.5;
          transition: 0.4s;
  
          &.active {
            opacity: 1;
          }
        }
      }
  
      &-filed {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
  
      &-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        width: 100%;
  
        label {
          color: #9945FF;
          font-size: 14px;
        }
  
        input,
        textarea {
          width: 100%;
          height: 30px;
          padding: 10px;
        }
  
        textarea {
          height: 150px;
        }
      }
  
      &-btns {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: space-between;
        text-align: right;
  
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          border-radius: 4px;
          background-color: #9945FF;
          border: none;
          font-size: 14px;
          color: #fff;
          transition: 0.3s;
          opacity: 0.8;
  
          &.pre {
            background-color: #c0c0c0;
            opacity: 0;
            transition: 0;
  
            &.active {
              opacity: 1;
            }
          }
  
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }